.home_page {
    margin-top: 50px;
    position: relative;
    min-height: 100vh;
    margin-bottom: 100px;
    .each-slide > div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        height: 435px;
    }

    .content {
        margin-right: 450px;
        width: 400px;
        h2 {
            margin-bottom: 15px;
        }
        p {
            color: #333;
        }
        button {
            background: #40a944;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            font-size: 1.0714em;
            font-weight: 400;
            text-align: center;
            height: 35px;
            line-height: 35px;
            padding: 0 15px;
            border-radius: 24px;
            &:hover {
                background: #333;
            }
        }
    }
    .slide {
        position: relative;
        .react-slideshow-container {
            .default-nav {
                display: none;
            }
        }
        .indicators {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            .indicator.active {
                width: 14px;
                height: 14px;
                background: #40a944;
                border-radius: 50%;
                cursor: pointer;
            }
            .indicator {
                width: 14px;
                height: 14px;
                border-radius: 50%;
                border: 2px solid #40a944;
                cursor: pointer;
                margin-left: 15px;
            }
        }
    }

    .benefit_area {
        margin-top: 80px;
        .benefit {
            align-items: center;
            text-align: center;
            .front-fa {
                font-size: 50px;
                color: #40a944;
                margin-bottom: 15px;
            }
            p {
                color: #333;
                font-size: 15px;
            }
        }
    }
    .title {
        text-align: center;
        margin-top: 50px;
        p {
            color: #333;
            font-size: 18px;
        }
    }
    .newproduct_area {
        margin-top: 50px;
        .row-new-product {
            margin-top: 20px;
        }
        .nav {
            height: 50px;
            line-height: 50px;
            width: 50px;
            &:hover {
                background: #40a944;
                fill: white;
                height: 50px;
                line-height: 50px;
                width: 50px;
            }
            svg {
                width: 17px;
                height: 17px;
            }
        }
    }
    .countdown_area {
        .product_discount_area {
            width: 95%;
            .image_area {
                position: relative;

                img {
                    height: 100%;
                    width: 100%;
                }
                .icon {
                    position: absolute;
                    top: 25px;
                    left: 25px;
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background: #40a944;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .date-time {
                    position: absolute;
                    left: 0px;
                    bottom: 5%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    .block {
                        width: 60px;
                        padding: 15px 0px;
                        background: #fff;
                        margin-left: 10px;
                        text-align: center;
                        line-height: 1rem;
                        b {
                            font-size: 20px;
                        }
                        .time_text {
                            margin-top: 2px;
                            display: block;
                            color: #666666;
                            font-size: 0.88rem;
                        }
                    }
                }
            }
            .product_info {
                text-align: center;
                margin-top: 15px;
                div.name_icons {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a {
                        text-decoration: none;
                        color: #222;
                        font-size: 18px;
                        &:hover {
                            color: #40a944;
                            cursor: pointer;
                        }
                    }
                    .love_shopcart {
                        svg {
                            margin-left: 10px;
                            color: #b8b6b6bf;
                            cursor: pointer;
                            font-size: 22px;
                            &:hover {
                                color: red;
                            }
                        }
                    }
                }
                div {
                    .discount_price {
                        text-decoration: line-through;
                    }
                    .original_price {
                        color: #40a944;
                        margin-left: 30px;
                    }
                }
            }
        }
        .nav {
            height: 50px;
            line-height: 50px;
            width: 50px;
            &:hover {
                background: #40a944;
                fill: white;
                height: 50px;
                line-height: 50px;
                width: 50px;
            }
            svg {
                width: 17px;
                height: 17px;
            }
        }
    }
    .toplike_area {
        .col_product {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 10px;
            .image_area {
                margin-left: 30px;
                img {
                    width: 140px;
                    height: 140px;
                }
            }
            .info {
                margin-left: 30px;
                text-align: start;
                padding-top: 20px;
                .name_price {
                    a {
                        color: black;
                        text-decoration: none;
                        font-weight: 400;
                        &:hover {
                            color: #40a944;
                        }
                    }
                    span {
                        display: block;
                        color: #40a944;
                    }
                }
                .love_shopcart {
                    margin-top: 10px;
                    svg {
                        margin-left: 10px;
                        color: #b8b6b6bf;
                        cursor: pointer;
                        font-size: 22px;
                        &:hover {
                            color: red;
                        }
                    }
                }
            }
        }
        .banner_left {
            position: relative;
            overflow: hidden;
            height: 100%;
            width: 90%;
            img {
                height: 100%;
            }
            &:hover {
                img {
                    transform: scale(1.02); 
                    -webkit-transition: .3s ease-out 0s;
                }
            }
            .content_area {
                h3 {
                    width: 100px;
                    color: #464646;
                }
                p {
                    color: black;
                    font-size: 18px;
                    font-weight: 500;
                }
                position: absolute;
                bottom: 10%;
                left: 10%;
            }
        }
    }
}
